body{
    background-color: pink;
}

.title{
    color: pink;
    font-family: 'Gill Sans', sans-serif;
    padding: 8px;
    width: 400px;
    height: 50px;
    background-color: darkorchid;
    text-align: center;
}

.recipe{
    font-size: 25px;
}